*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
    background-image: url("adminBackgroundimg.jpg");
    
	background-position: center;
	background-size: cover;
	position: absolute;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;

}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li a:hover
{
    color: aqua;
}
p
{
    text-decoration: none;
    color:rgb(202, 36, 91);
    font-size: 60px;
    margin-left: 70px;
    font-family: sans-serif;
}


